<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282473040603-7a7n50enjkjvuvm64n1l76cne4jq8oao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282473040603-7a7n50enjkjvuvm64n1l76cne4jq8oao</string>
	<key>API_KEY</key>
	<string>AIzaSyDgCJzMDI3f96_FB0ke8Csruq_LR2pe6Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>282473040603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimxwan0319.FCM-Test</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-62418</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-62418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282473040603:ios:694fbeb9bd4f1f3976dafe</string>
</dict>
</plist>